{% extends "layout.html" %}

{% block content %}


    <div class="row">


        <div class="col-sm-3">
            <h1>&nbsp;</h1>
            <ul class="list-group">
                {% for key, panelset in panelsets %}
                    <li class="list-group-item"><a
                                href="{{ path('live-dashboard',{panelSet:  key }) }}">{{ panelset.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9">
            <h1>{{ panelset.title }}</h1>
            {% include 'panels.html.twig' %}
        </div>
    </div>

{% endblock %}
